@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Global settings */

:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
  color: var(--desaturated-blue);
  background-image: linear-gradient(
      to right bottom,
      hsla(225, 100%, 94%, 0.726),
      hsla(225, 100%, 94%, 0.726)
    ),
    url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
  text-transform: none;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(107, 106, 160, 0.5);
}

/* Typography */
h1 {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--dark-blue);
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--dark-blue);
}

h3 {
  color: var(--dark-blue);
  font-size: 1.8rem;
}

/* Card Component */

.card {
  display: flex;
  flex-direction: column;
  max-inline-size: min-content;
  writing-mode: horizontal-tb;
  background-color: var(--very-pale-blue);
  border-radius: 20px;
  overflow: hidden;
  margin: 2rem;
  box-shadow: 0 3rem 4rem hsla(245, 75%, 52%, 0.14);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}

.card__description {
  text-align: center;
  line-height: 1.5;
}

.card__plan {
  display: flex;
  align-items: center;
  background-color: hsla(225, 100%, 94%, 0.3);
  padding: 2rem;
  border-radius: 10px;
}

.card__plan a {
  color: var(--primary-bright-blue);
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.2s;
  text-decoration: underline;
}

.card__plan a:hover {
  color: hsla(245, 75%, 52%, 0.7);
  cursor: pointer;
  text-decoration: underline;
}

.card__plan--annual {
  margin: 0 auto 0 2rem;
}

/* Buttons */

.btn {
  display: inline-block;
  border: none;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
  border-radius: 10px;
  width: 100%;
  transition: all 0.2s;
}

.btn-blue {
  background-color: var(--primary-bright-blue);
  box-shadow: 0 1rem 3rem hsla(245, 75%, 52%, 0.3);
  color: var(--very-pale-blue);
}

.btn-blue:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
  cursor: pointer;
}

.btn-white {
  background-color: var(--very-pale-blue);
  /* margin-top: 1rem; */
  color: inherit;
}

.btn-white:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: auto;
}

/* CTA SECTION */

.pop-up {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px);
}

@keyframes slidein {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10rem;
  padding: 3rem;
  background-color: var(--very-pale-blue);
  border-radius: 20px;
  box-shadow: 0 0.2rem 1rem hsla(245, 75%, 52%, 0.14);
  position: relative;
}

.slidein-animation {
  animation: slidein 0.5s ease;
}

.slideout-animation {
  animation: slideout 0.5s ease;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--dark-blue);
}

.cta-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: hsla(226, 28%, 59%, 0.089);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0.2rem 0.02rem hsla(245, 75%, 52%, 0.14);
}

.cta-form input::placeholder,
.cta-form select {
  color: var(--desaturated-blue);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(107, 106, 160, 0.5);
}

.cta-value {
  display: flex;
  flex-direction: column;
}

.cta-value form {
  margin-top: 1rem;
}

.plan-type {
  display: flex;
  gap: 5rem;
  align-items: center;
  border-bottom: 1px solid var(--desaturated-blue);
  padding-bottom: 2rem;
  color: var(--dark-blue);
}

.plan-type div span {
  color: var(--primary-bright-blue);
  font-weight: 600;
  font-size: 1.5rem;
}

.margin-bottom-vsm {
  margin-bottom: 2rem;
}

.margin-bottom-sm {
  margin-bottom: 3rem;
}

.plan-price div {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  color: var(--dark-blue);
}

/* MEDIA QUERY */

@media only screen and (max-width: 62.5em) {
  .cta {
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;
  }
}

@media only screen and (max-width: 48.5em) {
  .cta {
    margin: 0.5rem;
    grid-template-columns: 1fr;
    padding: 2rem 3rem 1.5rem 3rem;
    gap: 3rem;
  }

  .cta-value form {
    margin-top: 0;
  }

  .plan-type {
    justify-content: space-around;
    gap: 0;
  }

  .btn--form {
    margin-top: 2rem;
  }

  .btn-flex {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  html {
    font-size: 58%;
  }

  body {
    background-image: linear-gradient(
        to right bottom,
        hsla(225, 100%, 94%, 0.726),
        hsla(225, 100%, 94%, 0.726)
      ),
      url(../images/pattern-background-mobile.svg);
  }

  .card__plan--annual {
    font-size: 1.4rem;
  }

  .card__text {
    padding: 3rem 3rem 2rem 3rem;
  }
}

@media only screen and (max-width: 21em) {
  .card__plan {
    flex-direction: column;
    gap: 1rem;
  }

  .card__plan--annual {
    margin: 0;
  }
}
